.key {
    background-color:lightgray;
    border: 1px solid lightgray;
    border-radius:6px;
    cursor:pointer;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding:12px 12px;
    text-align: center;
    
}

.key:focus {
    outline: none;
    background: #ddd;
}