.key {
    border: 1px solid lightgray;
    border-radius:6px;
    cursor:pointer;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding:12px 12px;
    text-align: center;

    &.\30 {
        background-color: lightgrey;
    } 

    &.\31 {
        background-color: yellow;
    }

    &.\32 {
        background-color: green;
    } 

    &.\33 {
        background-color: darkgray;
        color: white;
    } 
}

.key:focus {
    outline: none;
}
