
.keyBoard{
    display: 'flex';
    align-items: center;
    justify-content: center;
    /*background-color: blue;*/
}
.keyrow{
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
    padding: 5px;

}
